profiles {
  standard {
    includeConfig 'base.config'
    process.executor = 'local'
  }
  aws_batch {
    includeConfig 'base.config'
    aws {
      region = 'eu-west-2'
    }
    executor.awscli = '/home/ec2-user/miniconda3/bin/aws'
    process {
      queue = params.aws_batch_queue
      executor = 'awsbatch'
      errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
      maxRetries = 2
    }
  }
}