includeConfig 'conf/base.config'

profiles {
  standard {
    process.executor = 'local'
    docker.runOptions='-u $(id -u):$(id -g)'
    docker.enabled = true
    process.container = 'bioinformant/ghru-assembly:1.5.5'
  }
}

process {
    withName: spades_assembly {
        cpus = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: check_for_contamination {
        cpus = 2
    }
}
